<!--css-->
    <div class="container">
    <style type="text/css">
        
        .angular-google-map-container {
            position: absolute;
            top: 48px;
            bottom: 0;
            right: 0;
            left: 0;
        }
    </style>

<div>
    <div class="container">
        <div class="row">
            <div class="col s12">

            
                <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" control="map.control">
                    
                    <ui-gmap-marker coords="map.center" options="marker.options" events="marker.events" idkey="marker.id">
                    
                    </ui-gmap-marker>

                </ui-gmap-google-map>
            
            <button style="top: 96px" class="fixed waves-effect waves-teal grey darken-1 btn-flat center-align" ng-click="goBack('newTrip', buttonValue)">{{buttonValue}} &nbsp; <i class="zmdi zmdi-mail-send"></i></button>

            <a style="top: 96px" class="waves-effect waves-teal grey darken-1 fixed center-align btn-floating" ng-click="refresh()"><i class="zmdi zmdi-gps-dot"></i></a>
        </div>
</div>

